.contact-us-image-container {
  height: toRem(500);
  position: relative;
}

.contact-us-section {
  margin: toRem(52) auto toRem(100) auto;
  width: 40vw;

  .page-title {
    // Style is on the global.scss file
  }

  .contact-us-image-container {
    margin: toRem(30) 0;
    border-radius: toRem(16);
    overflow: hidden;
    background-color: #f3f3f3;

    .conctact-us-image {
      max-height: toRem(570);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .page-info {
    padding: 0 2vw;

    .page-text {
      margin-bottom: toRem(30);
    }

    .contact-methods-container {
      .hr-containers {
        display: flex;
        flex-direction: row;

        .half-container {
          width: 50%;
          margin: 0 toRem(20) toRem(30) 0;

          &:last-child {
            margin: 0 0 toRem(30) 0;
          }

          .container-title {
            background-color: #eee;
            border-top: toRem(5) solid #003049;
            padding: toRem(10);
            display: flex;
            align-items: center;
            font-weight: 600;

            .title-icon {
              background-color: black;
              width: toRem(20);
              height: toRem(20);
              mask-size: cover;
              mask-repeat: no-repeat;
              mask-position: center center;
              margin-right: toRem(10);
            }

            .phone {
              mask-image: url("/icons/Phone.svg");
            }

            .email {
              mask-image: url("/icons/Mail.svg");
            }

            .location-pin {
              mask-image: url("/icons/Location-pin.svg");
            }

            .heart {
              mask-image: url("/icons/Heart-with-a-plus-icon.svg");
            }
          }

          .container-info {
            padding: toRem(10);

            .info-line {
              .bold-text {
                font-weight: 600;
              }

              .info-email {
                text-decoration: none;
                color: black;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          .social-media-icon {
            width: toRem(30);
            height: toRem(30);
            margin-right: toRem(20);
            display: inline-block;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.3s ease-in-out;
            }
          }

          .facebook-icon,
          .twitter-icon,
          .instagram-icon,
          .tiktok-icon,
          .youtube-icon {
            background-color: black;
            font-size: 0;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center center;
            border: 0;
            appearance: none;
          }

          .facebook-icon {
            mask-image: url("/icons/Facebook.svg");
          }
          .twitter-icon {
            mask-image: url("/icons/Twitter.svg");
          }
          .instagram-icon {
            mask-image: url("/icons/Instagram.svg");
          }
          .tiktok-icon {
            mask-image: url("/icons/TikTok.svg");
          }
          .youtube-icon {
            mask-image: url("/icons/YouTube.svg");
          }
        }
      }
    }
  }
}
