header {
  background-color: darkgrey; // TODO remove me
  height: 10vh;
  flex: initial;
}

main {
  flex: auto;
  background-color: lightslategrey; // TODO remove me
}

footer {
  flex: initial;
  background-color: darkslategrey; // TODO remove me
}
