.animals-container {
  // The style of this is on layouts

  .animal-card {
    grid-column: span 2;
    text-align: center;
    border-radius: toRem(10);
    background-color: #f3f3f3;
    // border: 1px solid rgba(0, 0, 0, 0.212);
    overflow: hidden;
    width: toRem(320);
    padding: toRem(5) toRem(5) toRem(5.2) toRem(5);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.015);
      transition: transform 0.4s ease-in-out;
    }

    .animal-profile {
      position: relative;

      .animal-image {
        border-radius: toRem(10) toRem(10) 0 0;
        width: 100%;
        height: toRem(300);
        object-fit: cover;
        object-position: center center;
      }

      .animal-name {
        font-weight: 700;
        font-size: toRem(30);
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        padding-left: toRem(5);
        width: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 90%
        );
        color: white;
      }
    }

    .animal-short-desc {
      margin: toRem(10) toRem(5) toRem(20) toRem(5);
      flex: 1;
      hyphens: auto;
    }

    .animal-button-options {
      flex: 0;
      display: flex;
      justify-content: space-around;

      .animal-fed-status {
        width: toRem(150);
        height: toRem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: toRem(10);
      }

      .animal-fed-status {
        padding: 0 toRem(10);
        user-select: none;

        .status-indicator {
          width: toRem(15);
          height: toRem(15);
          display: inline-block;
          margin-right: toRem(5);
          border-radius: 50%;
        }

        .status-full {
          background-color: green;
        }

        .status-hungry {
          background-color: red;
        }
      }
    }
  }
}
