header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 50;
  background-color: white;
  border-bottom: 1px solid black;
  color: #003049;
  padding: 0.313rem 5vw;
  display: flex;
  align-items: center;

  .website-logo {
    height: 100%;
  }

  .nav-bar {
    margin-left: 50px;

    .nav-link {
      height: 100%;
      color: #003049;
      font-weight: 400;
      margin-right: 15px;
      padding: 5px;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}

main {
  padding-top: 10vh;
  flex: auto;
}

footer {
  color: white;

  .newsletter-outer-container {
    background-color: #ebebeb;
    color: black;
    display: flex;
    padding: 10vh 0 15vh 0;

    .newsletter-inner-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .newsletter-icon {
        width: 100px;
        height: 100px;
        mask-image: url("/icons/Mail.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #003049;
      }

      .newsletter-title {
        text-transform: uppercase;
        color: #003049;
        font-weight: 700;
        font-size: 20px;
        position: relative;
        top: -10px;
      }

      .newsletter-info {
        margin: 30px 0;
        max-width: 600px;
        color: rgb(41, 41, 41);
        font-size: 24px;
      }

      .newsletter-form {
        margin-top: 20px;

        .newsletter-form-email {
          width: 9.375rem;
          height: 2.5rem;
          padding: 0.5rem;
          width: 15rem;
          border: 0;
          appearance: none;
          display: inline-block;

          &::placeholder {
            font-weight: 500;
          }

          &:focus {
            outline: none;
          }
        }

        .newsletter-submit-button {
          width: 6.375rem;
          border-radius: 0;
          display: inline-block;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  .footer-link-container {
    background-color: #003049;
    padding: 1.5rem 10vw;
    display: flex;
    flex-direction: column;

    .footer-logo {
      width: 200px;
    }

    .footer-upper-container {
      display: flex;
      flex-direction: row;
      padding: 60px 55px;

      .category-container {
        flex: 1;

        .category-title,
        .category-link {
          font-size: 20px;
          color: white;
          display: block;
        }

        .category-title {
          font-weight: 600;
        }

        .category-link {
          margin-top: 20px;
          font-weight: 300;
          text-decoration: none;
          width: fit-content;

          &:hover {
            text-decoration: underline;
          }
        }

        .category-hr {
          display: block;
          margin-top: 40px;

          &:first-child {
            margin-top: 0;
          }

          .category-title {
            font-weight: 600;
            font-size: 20px;
            color: white;
            display: block;
            margin-bottom: 20px;
          }

          .category-short-text {
            font-weight: 300;
            margin-bottom: 20px;
          }

          .category-icon {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            display: inline-block;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.3s ease-in-out;
            }
          }

          .contact-us-info-container {
            margin-top: 10px;
            display: flex;
            align-items: center;

            .contact-us-icon {
              width: 30px;
              height: 30px;
            }

            .contact-us-info {
              margin-left: 10px;
              width: 200px;
              color: white;
              font-weight: 300;
              text-decoration: none;
            }

            .contact-us-email {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .category-parter-logo {
            width: fit-content;
            object-fit: cover;
            display: inline-block;
            margin-right: 20px;
          }
        }
      }
    }

    .footer-lower-container {
      padding: 0 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;

      .footer-horizontal-rule {
        width: 100%;
      }

      .footer-options {
        margin: 30px 0;
        .option {
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
          border-radius: 0;
          appearance: none;
          color: white;
          font-weight: 300;
          margin-right: 20px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer-text {
        font-weight: 300;
        font-size: 0.8rem;
      }
    }
  }
}
