header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 50;
  background-color: white;
  border-bottom: toRem(1) solid black;
  color: #003049;
  padding: toRem(5) 5vw;
  display: flex;
  align-items: center;

  .website-logo {
    height: 100%;
  }

  .nav-bar {
    margin-left: toRem(50);

    .nav-link {
      height: 100%;
      color: #003049;
      font-weight: 400;
      margin-right: toRem(15);
      padding: toRem(5);
      text-decoration: none;
      font-size: toRem(17.6);
    }
  }
}

main {
  padding-top: 10vh;
  flex: auto;
}

footer {
  color: white;

  .newsletter-outer-container {
    background-color: #ebebeb;
    color: black;
    display: flex;
    padding: 10vh 0 15vh 0;

    .newsletter-inner-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .newsletter-icon {
        width: toRem(100);
        height: toRem(100);
        mask-image: url("/icons/Mail.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #003049;
      }

      .newsletter-title {
        text-transform: uppercase;
        color: #003049;
        font-weight: 700;
        font-size: toRem(20);
        position: relative;
        top: toRem(-10);
      }

      .newsletter-info {
        margin: toRem(30) 0;
        max-width: toRem(600);
        color: rgb(41, 41, 41);
        font-size: toRem(24);
      }

      .newsletter-form {
        margin-top: toRem(20);

        .newsletter-form-email {
          width: toRem(150);
          height: toRem(40);
          padding: toRem(8);
          width: toRem(240);
          border: 0;
          appearance: none;
          display: inline-block;

          &::placeholder {
            font-weight: 500;
          }

          &:focus {
            outline: none;
          }
        }

        .newsletter-submit-button {
          width: toRem(102);
          border-radius: 0;
          display: inline-block;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  .footer-link-container {
    background-color: #003049;
    padding: toRem(24) 10vw;
    display: flex;
    flex-direction: column;

    .footer-logo {
      width: toRem(200);
    }

    .footer-upper-container {
      display: flex;
      flex-direction: row;
      padding: toRem(60) toRem(55);

      .category-container {
        flex: 1;

        .category-title,
        .category-link {
          font-size: toRem(20);
          color: white;
          display: block;
        }

        .category-title {
          font-weight: 600;
        }

        .category-link {
          margin-top: toRem(20);
          font-weight: 300;
          text-decoration: none;
          width: fit-content;

          &:hover {
            text-decoration: underline;
          }
        }

        .category-hr {
          display: block;
          margin-top: toRem(40);

          &:first-child {
            margin-top: 0;
          }

          .category-title {
            font-weight: 600;
            font-size: toRem(20);
            color: white;
            display: block;
            margin-bottom: toRem(20);
          }

          .category-short-text {
            font-weight: 300;
            margin-bottom: toRem(20);
          }

          .category-icon {
            width: toRem(30);
            height: toRem(30);
            margin-right: toRem(20);
            display: inline-block;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.3s ease-in-out;
            }
          }

          .contact-us-info-container {
            margin-top: toRem(10);
            display: flex;
            align-items: center;

            .contact-us-icon {
              width: toRem(30);
              height: toRem(30);
            }

            .contact-us-info {
              margin-left: toRem(10);
              width: toRem(200);
              color: white;
              font-weight: 300;
              text-decoration: none;
            }

            .contact-us-email {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .category-parter-logo {
            width: fit-content;
            object-fit: cover;
            display: inline-block;
            margin-right: toRem(20);
          }
        }
      }
    }

    .footer-lower-container {
      padding: 0 toRem(55);
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;

      .footer-horizontal-rule {
        width: 100%;
      }

      .footer-options {
        margin: toRem(30) 0;
        .option {
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
          border-radius: 0;
          appearance: none;
          color: white;
          font-weight: 300;
          margin-right: toRem(20);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer-text {
        font-weight: 300;
        font-size: toRem(12.8);
      }
    }
  }
}
