.loader {
  grid-column: span 6;
  width: toRem(500);
  height: toRem(300);
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    width: toRem(75);
    height: toRem(75);
    border: toRem(15) solid #b3b3b3;
    border-top-color: #003049;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
}
