.message-contaienr {
  grid-column: span 6;

  .avatar {
    height: toRem(500);
  }
  .message {
    margin-top: toRem(20);
    font-weight: 300;
    font-size: toRem(30);
    text-align: center;
  }
}
