.animal-main {
  margin: toRem(52) auto toRem(100) auto;
  width: 40vw;
  font-size: toRem(17.6);

  .breadcrumb {
    position: relative;
    left: toRem(-30);

    .breadcrumb-item {
      text-transform: none;
      color: #003049;
      text-decoration: none;
      font-weight: 500;
    }

    .breadcrumb-active {
      text-transform: uppercase;
      font-size: toRem(16);
    }
  }

  .animal-name,
  .animal-latin-name {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: toRem(-0.8);
  }

  .animal-name {
    font-size: toRem(40);
    margin: toRem(20) 0 toRem(10) 0;
  }

  .animal-latin-name {
    font-size: toRem(24);
  }

  .animal-image-container {
    margin: toRem(30) 0;
    border-radius: toRem(1);
    overflow: hidden;
    background-color: #f3f3f3;

    .animal-image {
      margin: 0 auto;
      max-height: toRem(570);
    }
  }

  .animal-info-container {
    .animal-info {
      display: inline-block;
      width: 50%;
      margin: 0 0 toRem(20) 0;

      .info-title {
        font-weight: 600;
      }
    }
  }

  .animal-fed-info {
    margin-top: toRem(40);
    background-color: #f3f3f3;
    padding: toRem(20) toRem(10);
    border-top: toRem(5) solid #003049;
    display: flex;
    flex-direction: row;
    align-items: center;

    .animal-last-fed-splitter {
      display: inline-block;
      width: 50%;

      .fed-title,
      .fed-data {
        display: block;
      }

      .fed-title {
        font-weight: 600;
      }
    }

    .fed-animal-btn-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
