// Button style
.global-btn {
  background-color: #003049;
  padding: 0 toRem(20);
  text-decoration: none;
  color: white;
  width: toRem(150);
  height: toRem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: toRem(10);
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(0.98);
    transition: transform 0.3s ease-in-out;
  }
}
.global-btn-inactive {
  background-color: #444444;
  cursor: not-allowed;

  &:hover {
    transform: none;
  }
}

// Used in About us / FAQ
.go-back-btn {
  position: relative;
  left: toRem(-10);
  background-color: transparent;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  .go-back-icon {
    width: toRem(20);
    height: toRem(20);
    background-color: black;
    margin-right: toRem(10);
    mask-image: url("/icons/Arrow.svg");
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: cover;
    transform: rotate(-180deg);
  }
}

.page-title {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: toRem(-0.8);
  font-size: toRem(40);
  margin: toRem(1.25) 0 0 0;
}
