.video-container {
  height: toRem(250);
  position: relative;

  .animals-header {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .animals-title {
      font-size: toRem(48);
      font-weight: 300;
      height: 100%;
      display: flex;
      align-items: center;
      color: white;
    }

    .animals-nav {
      .nav-option {
        background-color: transparent;
        display: inline-block;
        padding: toRem(20) toRem(30);
        border: none;
        border-radius: toRem(10) toRem(10) 0 0;
        font-weight: 500;
        text-decoration: none;
        color: #e9e9e9;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #e9e9e9;
          color: black;
          transition: background-color 0.3s ease-in-out;
        }
      }

      .active {
        background-color: white;
        color: black;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
}

.animals-container {
  margin: toRem(100) auto;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: toRem(16);
}
