*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
.global-btn {
  background-color: #003049;
  padding: 0 toRem(20);
  text-decoration: none;
  color: #fff;
  width: toRem(150);
  height: toRem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: toRem(10);
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.global-btn:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease-in-out;
}
.global-btn-inactive {
  background-color: #444;
  cursor: not-allowed;
}
.global-btn-inactive:hover {
  transform: none;
}
.go-back-btn {
  position: relative;
  left: toRem(-10);
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.go-back-btn:hover {
  text-decoration: underline;
}
.go-back-btn .go-back-icon {
  width: toRem(20);
  height: toRem(20);
  background-color: #000;
  margin-right: toRem(10);
  -webkit-mask-image: url("/icons/Arrow.svg");
  mask-image: url("/icons/Arrow.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  transform: rotate(-180deg);
}
.page-title {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: toRem(-0.8);
  font-size: toRem(40);
  margin: toRem(1, 25) 0 0 0;
}
header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 50;
  background-color: #fff;
  border-bottom: 0.0625rem solid #000;
  color: #003049;
  padding: 0.3125rem 5vw;
  display: flex;
  align-items: center;
}
header .website-logo {
  height: 100%;
}
header .nav-bar {
  margin-left: 3.125rem;
}
header .nav-bar .nav-link {
  height: 100%;
  color: #003049;
  font-weight: 400;
  margin-right: 0.9375rem;
  padding: 0.3125rem;
  text-decoration: none;
  font-size: 1.1rem;
}
main {
  padding-top: 10vh;
  flex: auto;
}
footer {
  color: #fff;
}
footer .newsletter-outer-container {
  background-color: #ebebeb;
  color: #000;
  display: flex;
  padding: 10vh 0 15vh 0;
}
footer .newsletter-outer-container .newsletter-inner-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-icon {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-mask-image: url("/icons/Mail.svg");
  mask-image: url("/icons/Mail.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #003049;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-title {
  text-transform: uppercase;
  color: #003049;
  font-weight: 700;
  font-size: 1.25rem;
  position: relative;
  top: -0.625rem;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-info {
  margin: 1.875rem 0;
  max-width: 37.5rem;
  color: #292929;
  font-size: 1.5rem;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form {
  margin-top: 1.25rem;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-form-email {
  width: 9.375rem;
  height: 2.5rem;
  padding: 0.5rem;
  width: 15rem;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-form-email::-moz-placeholder {
  font-weight: 500;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-form-email::placeholder {
  font-weight: 500;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-form-email:focus {
  outline: none;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-submit-button {
  width: 6.375rem;
  border-radius: 0;
  display: inline-block;
}
footer
  .newsletter-outer-container
  .newsletter-inner-container
  .newsletter-form
  .newsletter-submit-button:hover {
  transform: none;
}
footer .footer-link-container {
  background-color: #003049;
  padding: 1.5rem 10vw;
  display: flex;
  flex-direction: column;
}
footer .footer-link-container .footer-logo {
  width: 12.5rem;
}
footer .footer-link-container .footer-upper-container {
  display: flex;
  flex-direction: row;
  padding: 3.75rem 3.4375rem;
}
footer .footer-link-container .footer-upper-container .category-container {
  flex: 1;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-title,
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-link {
  font-size: 1.25rem;
  color: #fff;
  display: block;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-title {
  font-weight: 600;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-link {
  margin-top: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-link:hover {
  text-decoration: underline;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr {
  display: block;
  margin-top: 2.5rem;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr:first-child {
  margin-top: 0;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .category-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  margin-bottom: 1.25rem;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .category-short-text {
  font-weight: 300;
  margin-bottom: 1.25rem;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .category-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.25rem;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .category-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .contact-us-info-container {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .contact-us-info-container
  .contact-us-icon {
  width: 1.875rem;
  height: 1.875rem;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .contact-us-info-container
  .contact-us-info {
  margin-left: 0.625rem;
  width: 12.5rem;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .contact-us-info-container
  .contact-us-email:hover {
  text-decoration: underline;
}
footer
  .footer-link-container
  .footer-upper-container
  .category-container
  .category-hr
  .category-parter-logo {
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  display: inline-block;
  margin-right: 1.25rem;
}
footer .footer-link-container .footer-lower-container {
  padding: 0 3.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}
footer .footer-link-container .footer-lower-container .footer-horizontal-rule {
  width: 100%;
}
footer .footer-link-container .footer-lower-container .footer-options {
  margin: 1.875rem 0;
}
footer .footer-link-container .footer-lower-container .footer-options .option {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-weight: 300;
  margin-right: 1.25rem;
  cursor: pointer;
}
footer
  .footer-link-container
  .footer-lower-container
  .footer-options
  .option:hover {
  text-decoration: underline;
}
footer .footer-link-container .footer-lower-container .footer-text {
  font-weight: 300;
  font-size: 0.8rem;
}
.not-found-container {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
  font-size: 1.1rem;
}
.not-found-container .not-found-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.25rem 0;
}
.not-found-container .not-found-message {
  background-color: #f3f3f3;
  padding: 1.5rem;
  border-top: 0.3125rem solid #003049;
}
.not-found-container .not-found-message .not-found-text {
  margin-top: 1.25rem;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.not-found-container .not-found-message .not-found-text:first-child {
  margin: 0;
}
.welcome-video-container {
  height: 43.75rem;
  position: relative;
}
.welcome-video-container .welcome-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(50%);
}
.welcome-video-container .welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.welcome-video-container .welcome-message .title {
  font-size: 5rem;
  font-weight: 400;
}
.welcome-video-container .welcome-message .under-text {
  font-size: 1.3rem;
  font-weight: 300;
}
.scroll-boxes-section {
  height: -moz-fit-content;
  height: fit-content;
  padding: 10vh 0;
}
.scroll-boxes-section .section-title,
.scroll-boxes-section .scrollable-container {
  margin: 0 auto;
  width: 54.625rem;
}
.scroll-boxes-section .section-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.scroll-boxes-section .scrollable-container {
  height: 100%;
  position: relative;
}
.scroll-boxes-section .scrollable-container .items-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 5.95rem);
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  transform: skewX(5deg);
}
.scroll-boxes-section .scrollable-container .items-container .data-container {
  grid-column: span 2;
  background-color: #f3f3f3;
  height: 18.75rem;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease-in-out;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .data-image {
  flex: 1;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .data-name {
  flex: 0;
  padding: 10% 0;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .data-title {
  flex: 0;
  padding: 10% 5% 5% 5%;
  color: #003049;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .data-publish-date {
  padding: 0 5% 10% 5%;
  text-align: right;
  color: #000;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .see-more-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .see-more-container:hover
  .see-more-text {
  text-decoration: underline;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .see-more-container
  .see-more-text {
  display: flex;
  align-items: center;
  color: #000;
}
.scroll-boxes-section
  .scrollable-container
  .items-container
  .data-container
  .see-more-container
  .see-more-text
  .arrow-icon {
  background-color: #000;
  width: 1.5625rem;
  height: 1.5625rem;
  display: inline-block;
  -webkit-mask-image: url("/icons/Arrow.svg");
  mask-image: url("/icons/Arrow.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.scroll-boxes-section .scrollable-container .scroll-previous-btn,
.scroll-boxes-section .scrollable-container .scroll-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}
.scroll-boxes-section .scrollable-container .scroll-previous-btn {
  left: -1.25rem;
}
.scroll-boxes-section .scrollable-container .scroll-previous-btn .previous-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url("/icons/Arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003049;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transform: rotate(180deg);
  cursor: pointer;
}
.scroll-boxes-section .scrollable-container .scroll-next-btn {
  right: -1.25rem;
}
.scroll-boxes-section .scrollable-container .scroll-next-btn .next-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url("/icons/Arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003049;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.info-section {
  height: 62.5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.info-section .info-container {
  width: 37.5rem;
  background-color: #003049;
  color: #fff;
  padding: 3.125rem 3.75rem;
  margin: 0 10vw;
  font-size: 1.3rem;
  font-weight: 300;
  -webkit-hyphens: auto;
  hyphens: auto;
  position: absolute;
}
.info-section .info-container .info-writter {
  margin-top: 1.25rem;
  display: block;
}
.info-section .info-image,
.info-section .review-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
.info-section .info-image {
  background-image: url("/images/boy-pedding-animals.jpg");
}
.info-section .review-image {
  background-image: url("/images/women-watch-a-giraffe.jpg");
}
.animal-main {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
  font-size: 1.1rem;
}
.animal-main .breadcrumb {
  position: relative;
  left: -1.875rem;
}
.animal-main .breadcrumb .breadcrumb-item {
  text-transform: none;
  color: #003049;
  text-decoration: none;
  font-weight: 500;
}
.animal-main .breadcrumb .breadcrumb-active {
  text-transform: uppercase;
  font-size: 1rem;
}
.animal-main .animal-name,
.animal-main .animal-latin-name {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.05rem;
}
.animal-main .animal-name {
  font-size: 2.5rem;
  margin: 1.25rem 0 0.625rem 0;
}
.animal-main .animal-latin-name {
  font-size: 1.5rem;
}
.animal-main .animal-image-container {
  margin: 1.875rem 0;
  border-radius: 0.0625rem;
  overflow: hidden;
  background-color: #f3f3f3;
}
.animal-main .animal-image-container .animal-image {
  margin: 0 auto;
  max-height: 35.625rem;
}
.animal-main .animal-info-container .animal-info {
  display: inline-block;
  width: 50%;
  margin: 0 0 1.25rem 0;
}
.animal-main .animal-info-container .animal-info .info-title {
  font-weight: 600;
}
.animal-main .animal-fed-info {
  margin-top: 2.5rem;
  background-color: #f3f3f3;
  padding: 1.25rem 0.625rem;
  border-top: 0.3125rem solid #003049;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.animal-main .animal-fed-info .animal-last-fed-splitter {
  display: inline-block;
  width: 50%;
}
.animal-main .animal-fed-info .animal-last-fed-splitter .fed-title,
.animal-main .animal-fed-info .animal-last-fed-splitter .fed-data {
  display: block;
}
.animal-main .animal-fed-info .animal-last-fed-splitter .fed-title {
  font-weight: 600;
}
.animal-main .animal-fed-info .fed-animal-btn-container {
  display: flex;
  justify-content: flex-end;
}
.video-container {
  height: 15.625rem;
  position: relative;
}
.video-container .animals-header {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.video-container .animals-header .animals-title {
  font-size: 3rem;
  font-weight: 300;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.video-container .animals-header .animals-nav .nav-option {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 1.25rem 1.875rem;
  border: none;
  border-radius: 0.625rem 0.625rem 0 0;
  font-weight: 500;
  text-decoration: none;
  color: #e9e9e9;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.video-container .animals-header .animals-nav .nav-option:hover {
  background-color: #e9e9e9;
  color: #000;
  transition: background-color 0.3s ease-in-out;
}
.video-container .animals-header .animals-nav .active {
  background-color: #fff;
  color: #000;
}
.video-container .animals-header .animals-nav .active:hover {
  background-color: #fff;
}
.video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(50%);
}
.animals-container {
  margin: 6.25rem auto;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.animals-container .animal-card {
  grid-column: span 2;
  text-align: center;
  border-radius: 0.625rem;
  background-color: #f3f3f3;
  overflow: hidden;
  width: 20rem;
  padding: 0.3125rem 0.3125rem 0.325rem 0.3125rem;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.animals-container .animal-card:hover {
  transform: scale(1.015);
  transition: transform 0.4s ease-in-out;
}
.animals-container .animal-card .animal-profile {
  position: relative;
}
.animals-container .animal-card .animal-profile .animal-image {
  border-radius: 0.625rem 0.625rem 0 0;
  width: 100%;
  height: 18.75rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}
.animals-container .animal-card .animal-profile .animal-name {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  padding-left: 0.3125rem;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%);
  color: #fff;
}
.animals-container .animal-card .animal-short-desc {
  margin: 0.625rem 0.3125rem 1.25rem 0.3125rem;
  flex: 1;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.animals-container .animal-card .animal-button-options {
  flex: 0;
  display: flex;
  justify-content: space-around;
}
.animals-container .animal-card .animal-button-options .animal-fed-status {
  width: 9.375rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
}
.animals-container .animal-card .animal-button-options .animal-fed-status {
  padding: 0 0.625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.animals-container
  .animal-card
  .animal-button-options
  .animal-fed-status
  .status-indicator {
  width: 0.9375rem;
  height: 0.9375rem;
  display: inline-block;
  margin-right: 0.3125rem;
  border-radius: 50%;
}
.animals-container
  .animal-card
  .animal-button-options
  .animal-fed-status
  .status-full {
  background-color: green;
}
.animals-container
  .animal-card
  .animal-button-options
  .animal-fed-status
  .status-hungry {
  background-color: red;
}
.message-contaienr {
  grid-column: span 6;
}
.message-contaienr .avatar {
  height: 31.25rem;
}
.message-contaienr .message {
  margin-top: 1.25rem;
  font-weight: 300;
  font-size: 1.875rem;
  text-align: center;
}
.about-us-section {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
}
.about-us-section .about-us-image-container {
  margin: 1.875rem 0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #f3f3f3;
}
.about-us-section .about-us-image-container .about-us-image {
  margin: 0 auto;
  max-height: 35.625rem;
}
.about-us-section .about-us-container {
  padding: 0 2vw;
}
.about-us-section .about-us-container .about-us-title {
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0 0.625rem 0;
}
.about-us-section .about-us-container .about-us-text {
  font-size: 1rem;
}
.faq-section {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
}
.faq-section .faq-image-container {
  margin: 1.875rem 0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #f3f3f3;
}
.faq-section .faq-image-container .faq-image {
  margin: 0 auto;
  max-height: 35.625rem;
}
.faq-section .faq-container {
  margin-bottom: 1.875rem;
}
.faq-section .faq-container .question-container {
  background-color: #eee;
  border-top: 0.3125rem solid #003049;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}
.faq-section .faq-container .question-container .question {
  font-weight: 500;
}
.faq-section .faq-container .question-container .question-expand-arrow {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #000;
  -webkit-mask-image: url("/icons/Arrow.svg");
  mask-image: url("/icons/Arrow.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  transform: rotate(270deg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.faq-section .faq-container .question-container .question-expand {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.faq-section .faq-container .answer-container {
  background-color: #f3f3f3;
  font-weight: 400;
  padding: 0 0.625rem;
  height: 0;
  overflow: hidden;
}
.faq-section .faq-container .answer-container-expand {
  padding: 0.625rem 0.625rem;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-us-image-container {
  height: 31.25rem;
  position: relative;
}
.contact-us-section {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
}
.contact-us-section .contact-us-image-container {
  margin: 1.875rem 0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #f3f3f3;
}
.contact-us-section .contact-us-image-container .conctact-us-image {
  max-height: 35.625rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.contact-us-section .page-info {
  padding: 0 2vw;
}
.contact-us-section .page-info .page-text {
  margin-bottom: 1.875rem;
}
.contact-us-section .page-info .contact-methods-container .hr-containers {
  display: flex;
  flex-direction: row;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container {
  width: 50%;
  margin: 0 1.25rem 1.875rem 0;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container:last-child {
  margin: 0 0 1.875rem 0;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title {
  background-color: #eee;
  border-top: 0.3125rem solid #003049;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title
  .title-icon {
  background-color: #000;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  margin-right: 0.625rem;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title
  .phone {
  -webkit-mask-image: url("/icons/Phone.svg");
  mask-image: url("/icons/Phone.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title
  .email {
  -webkit-mask-image: url("/icons/Mail.svg");
  mask-image: url("/icons/Mail.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title
  .location-pin {
  -webkit-mask-image: url("/icons/Location-pin.svg");
  mask-image: url("/icons/Location-pin.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-title
  .heart {
  -webkit-mask-image: url("/icons/Heart-with-a-plus-icon.svg");
  mask-image: url("/icons/Heart-with-a-plus-icon.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-info {
  padding: 0.625rem;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-info
  .info-line
  .bold-text {
  font-weight: 600;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-info
  .info-line
  .info-email {
  text-decoration: none;
  color: #000;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .container-info
  .info-line
  .info-email:hover {
  text-decoration: underline;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .social-media-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.25rem;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .social-media-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .facebook-icon,
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .twitter-icon,
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .instagram-icon,
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .tiktok-icon,
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .youtube-icon {
  background-color: #000;
  font-size: 0;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .facebook-icon {
  -webkit-mask-image: url("/icons/Facebook.svg");
  mask-image: url("/icons/Facebook.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .twitter-icon {
  -webkit-mask-image: url("/icons/Twitter.svg");
  mask-image: url("/icons/Twitter.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .instagram-icon {
  -webkit-mask-image: url("/icons/Instagram.svg");
  mask-image: url("/icons/Instagram.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .tiktok-icon {
  -webkit-mask-image: url("/icons/TikTok.svg");
  mask-image: url("/icons/TikTok.svg");
}
.contact-us-section
  .page-info
  .contact-methods-container
  .hr-containers
  .half-container
  .youtube-icon {
  -webkit-mask-image: url("/icons/YouTube.svg");
  mask-image: url("/icons/YouTube.svg");
}
.loader {
  grid-column: span 6;
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader::after {
  content: "";
  width: 4.6875rem;
  height: 4.6875rem;
  border: 0.9375rem solid #b3b3b3;
  border-top-color: #003049;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
