// Style folder
@import "./style/reset";
@import "./style/functions";
@import "./style/global";
// Pages folder
@import "./pages/index";
// Components
@import "./components/index";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
