.about-us-section {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;

  .go-back-btn {
    position: relative;
    left: -10px;
    background-color: transparent;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    .go-back-icon {
      width: 20px;
      height: 20px;
      background-color: black;
      margin-right: 10px;
      mask-image: url("/icons/Arrow.svg");
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: cover;
      transform: rotate(-180deg);
    }
  }

  .page-title {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.05rem;
    font-size: 2.5rem;
    margin: 1.25rem 0 0 0;
  }

  .about-us-image-container {
    margin: 1.875rem 0;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #f3f3f3;

    .about-us-image {
      margin: 0 auto;
      max-height: 35.625rem;
    }
  }

  .about-us-container {
    padding: 0 2vw;

    .about-us-title {
      font-weight: 400;
      font-size: 2rem;
      margin: 2rem 0 10px 0;
    }

    .about-us-text {
      font-size: 1rem;
    }
  }
}
