.about-us-section {
  margin: toRem(52) auto toRem(100) auto;
  width: 40vw;

  .page-title {
    // Style is on the global.scss file
  }

  .about-us-image-container {
    margin: toRem(30) 0;
    border-radius: toRem(16);
    overflow: hidden;
    background-color: #f3f3f3;

    .about-us-image {
      margin: 0 auto;
      max-height: toRem(570);
    }
  }

  .about-us-container {
    padding: 0 2vw;

    .about-us-title {
      font-weight: 400;
      font-size: toRem(32);
      margin: toRem(32) 0 toRem(10) 0;
    }

    .about-us-text {
      font-size: toRem(16);
    }
  }
}
