.faq-section {
  margin: toRem(52) auto toRem(100) auto;
  width: 40vw;

  .page-title {
    // Style is on the global.scss file
  }

  .faq-image-container {
    margin: toRem(30) 0;
    border-radius: toRem(16);
    overflow: hidden;
    background-color: #f3f3f3;

    .faq-image {
      margin: 0 auto;
      max-height: toRem(570);
    }
  }

  .faq-container {
    margin-bottom: toRem(30);

    .question-container {
      background-color: #eeeeee;
      border-top: toRem(5) solid #003049;
      padding: toRem(10);
      display: flex;
      justify-content: space-between;

      .question {
        font-weight: 500;
      }

      .question-expand-arrow {
        width: toRem(30);
        height: toRem(30);
        background-color: black;
        mask-image: url("/icons/Arrow.svg");
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: cover;
        transform: rotate(270deg);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
      .question-expand {
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
      }
    }

    .answer-container {
      background-color: #f3f3f3;
      font-weight: 400;
      padding: 0 toRem(10);
      height: 0;
      overflow: hidden;
    }
    .answer-container-expand {
      padding: toRem(10) toRem(10);
      height: fit-content;
    }
  }
}
