.not-found-container {
  margin: toRem(52) auto toRem(100) auto;
  width: 40vw;
  font-size: toRem(17.6);

  .not-found-title {
    font-size: toRem(24);
    font-weight: 600;
    margin: toRem(20) 0;
  }

  .not-found-message {
    background-color: #f3f3f3;
    padding: toRem(24);
    border-top: toRem(5) solid #003049;

    .not-found-text {
      margin-top: toRem(20);
      hyphens: auto;

      &:first-child {
        margin: 0;
      }
    }
  }
}
