.not-found-container {
  margin: 3.25rem auto 6.25rem auto;
  width: 40vw;
  font-size: 1.1rem;

  .not-found-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0;
  }

  .not-found-message {
    background-color: #f3f3f3;
    padding: 1.5rem;
    border-top: 5px solid #003049;

    .not-found-text {
      margin-top: 20px;
      hyphens: auto;

      &:first-child {
        margin: 0;
      }
    }
  }
}
